.rightbar {
    flex: 3.5;
}

.birthdayimage {
    height: 38px;
    width: 38px;
    margin-right: 0.5rem;
}

.rightbarwrapper{
    margin: 1.4rem 1rem 0 0;
}

.birthdaycontainer{
    display: flex;
    align-items: center;
}

.birthdaytext{
    font-size: 15px;
    font-weight: 300;

}

.adimage{
    height: 15rem;
    width: 100%;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.rightbartitle{
    margin-bottom: 1rem;
}

.rightbarfriendlist{
    margin: 0;
    padding: 0;
    list-style: none;
}

.rightbarinfotitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.rightbarinfo{
    margin-bottom: 2rem;
}

.rightbarinfoitem{
    margin-bottom: 1rem;
}

.rightbarinfokey{
    font-weight: 500;
    margin-right: 1rem;
    color: #555;
}

.rightbarinfovalue{
    font-weight: 300;
}

.rightbarfollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.rightbarfollingname{
    display: flex;
    flex-direction: row;
}

.rightbarfollowing{
    margin-bottom: 1rem;;
}

.rightbarfollowingimg{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

